@keyframes main-title-anim {
    0% {
        top: -30%;
    }

    100% {
        top: 5%;
    }
}





body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.selectors {
    width: 12%;
}

.info-box {
    position: absolute;
    left: 1%;
    top: 1%;
    width: 15%;
    height: 25%;
    border: 5px;
    border-style: double;
    border-color: black;
}

.cfg-box {
    position: absolute;
    left: 29%;
    top: 23%;
    width: 40%;
    height: 28%;
    border: 5px;
    border-style: outset;
    border-color: black;
}

.main-title {
    animation-name: main-title-anim;
    animation-timing-function: ease-out;
    animation-duration: 1s;
    position: absolute;
    left: 34%;
    top: 5%;
    text-align: center;
}